{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<section>
    <h1 class="text-center text-muted mt-4 mb-4">Bonjour...{{app.user.firstname}} {{app.user.lastname}}</h1>

    {% if app.user and is_granted('ROLE_ADMIN')%}
    <div class="container-fluid mt-5 mb-5 mx-5">
        <h2>Notifications</h2>
        {% for notification in notifications %}
            <p>{{notification.message}} Date : {{notification.createdAt|date('Y-m-d')}}</p>
        {% endfor %}
    </div>
    {% endif %}

</section>
{% endblock %}
